.primeiro{
    position: absolute;
    top: 33%;
    left: 28%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3vh;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.segundo{
   border-style: groove;
   border-width: 1px;
   width: 45%;
   height: 33%;
   position: absolute;
   top: 30%;
   left: 27%;
   background-color: black;
   opacity: 0.5;
   border-radius: 18px;
}
 .paragrafo{
   font-size: 100%;
   font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.linkCadastro a{
   position:absolute;
   right: 53%;
   background-color: transparent;
   border-style: groove;
   border-width: 1px;
   display: inline-block;
   padding: 6px;
   font-size: 83%;
   text-decoration: double;
   color: aliceblue;
   border-radius: 10px;
   transition-duration: 0.4s;
}
.linkCliente a{
   position:absolute;
   left: 52%;
   top: 100%;
   font-size: 23px;
   background-color: transparent;
   border-style: groove;
   border-width: 1px;
   display: inline-block;
   padding: 6px;
   font-size: 83%;
   text-decoration: double;
   color: aliceblue;
   border-radius: 10px;
   transition-duration: 0.4s;
}
 
 


 .fundo {
  background-image: url("fundo2.jpg");
 }
 .fundo2{
   background: linear-gradient(133.4deg, #5A5D5F 12.44%, rgba(109, 116, 119, 0.72) 66.88%);
 }
 

 .link2 a{
    position: absolute;
    top: 95%;
    background-color: transparent;
    border-style: groove;
    border-width: 1px;
    padding: 10px;
    font-size: 120%;
    text-decoration: double;
    color: rgb(255, 255, 255);
    transition-duration: 0.4s;
    border-radius: 10px;
 }   
 
 .botao2 {
   background-color: white; 
   color: black; 
   
 }
 
 .botao2:hover {
   background-color: #ffffff;
   color: rgb(0, 0, 0);
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }


 
.principal{
   color: aliceblue;
   position: absolute;
   top: 25%;
   left: 6%;
   width: 40%;
   font-size: 200%;
   font-family: 'Times New Roman', Times, serif;
   font-style: unset;
   border-style: groove;
   border-radius: 15px;
   border-width: 1px;
   padding: 18px;   

}

.link3 a{
   background-color: transparent;
   top: 3%;
   left: 1%;
   border-style: groove;
   color: aliceblue;
   position: absolute;
   font-size: 110%;
   padding: 5px;
   text-decoration: double;
   border-width: 1px;
   transition-duration: 0.4s;
   border-radius: 10px;
}

